.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

.articles-container {
  border: solid;
  margin: 2px;
  padding: 10px;
  text-align: center;
  width: 80vw;
  max-width: 500px;
}

.topic-author p {
  margin-left: 3px;
}
