.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

.container {
  border: solid;
  margin: 2px;
  padding: 10px;
  text-align: center;
  width: 80vw;
  max-width: 500px;
  padding-bottom: 50px;
}

.topicAuthor {
  margin-left: 3px;
  display: flex;
  font-size: 10px;
  gap: 3px;
}

.topic {
  font-weight: bold;
}

.image {
  width: 450px;
  height: auto;
}

.comments {
  display: flex;
  margin-top: 10px;
}
