.heading {
  color: red;
  text-decoration: none;
  margin-top: 0px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  color: red;
  padding-left: 30px;
  padding-top: 10px;
}
