.user {
  display: flex;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  border: solid;
  margin: 30px auto;
  width: 20%;
  background-color: white;
  font-size: 16px;
  border-radius: 10px;
}

.userAvatar {
  display: flex;
  gap: 10px;
}

.image {
  width: auto;
  height: 40px;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
}

.loginBtn {
  height: 50px;
  width: 60px;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
}
