.image {
  height: 20px;
  width: auto;
}

.topicUser {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
}

.signIn {
  color: white;
  border: #d93a00;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d93a00;
}

.signIn:hover {
  transform: scale(1.1);
  background-color: #962900;
}
